<%- include('./includes/head.ejs') %>

<main class="detail">
  <div class="title"><%= book.title %></div>
  <div class="author"><%= book.author %></div>
  <div class="summary"><%= book.summary %></div>
</main>

<%- include('./includes/tail.ejs') %>